
@model ResetPasswordView

@{
    ViewData["Title"] = _localizer["resetpassword"];
}

<div class="rs-breadcrumbs style3 bg12 ">
    <div class="breadcrumbs-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="page-title"> @_localizer["newPassword"]</h1>
                    <ul>

                        <li> @_localizer["newpasswordaccount"] </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pass_return p pb-170">
    <div class="container">
        <form action="/Account/ResetPassword" id="frmResetPassword">
            <input type="hidden" asp-for="Key"/>
            <div class="row justify-content-md-center">
                <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12">
                    <div class="pass-content">
                        <div class="circle_passreturn">
                            <img src="~/assets/img/icon/lock.png">
                        </div>
                        <h3 class="return-pass">   @_localizer["newpasswordaccount"] </h3>
                        <p> @_localizer["newpasswordcontinueaccount"] </p>
                        <div class="form-group">
                            <span class="placeholder-img "><img src="~/assets/img/icon/key2.png"></span>
                            <input class="form-control " placeholder="@_localizer["password"]" type="password" asp-for="Password">
                            <span toggle="#password-field" class=" field-icon toggle-password placeholder-img key"><img class=" pass-img field-icon toggle-password" src="~/assets/img/icon/eye_splash.png"></span>
                        </div>
                        <div class="form-group">
                            <span class="placeholder-img "><img src="~/assets/img/icon/key.png"></span>
                            <input class="form-control pass" placeholder=" @_localizer["confirmpassword"]" type="password" asp-for="ConfirmPassword">
                            <span toggle="#password-field" class=" field-icon toggle-confirmpassword placeholder-img key"><img class=" pass-img2 field-icon toggle-confirmpassword" src="~/assets/img/icon/eye_splash.png"></span>
                        </div>
                        <div class="login">
                            <a href="javascript:void(0)" id="btnResetPassword" class="btn btn-add">@_localizer["confirm"]</a>
                        </div>
                    </div>

                </div>
            </div>
        </form>
            </div>
</div>

